.iftouch .mobile-social {
	display:inline;
}
.iftouch .social {
	display:none;
}

@media (min-width: 1200px) {
	h1 {
		font-size: 207px;
		line-height: 180px;
		letter-spacing:18px;
	}
	h4 {
		font-size:108px;
	}
}

@media (max-width: 767px) {
	
	h1 {
		font-size: 144px;
		line-height: 108px;
		letter-spacing:4.5px;
	}
	h4 {
		font-size:63px;
		line-height:90px;
	}
	#menu-item {
		font-size:63px;
		line-height:90px;
	}

}

@media (max-width: 480px) {
	
	h1 {
		font-size: 90px;
		line-height: 126px;
		letter-spacing:9px;
	}
	h4 {
		font-size:27px;
		line-height:45px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {
	
	h1 {
		font-size: 162px;
		line-height: 126px;
		letter-spacing:4.5px;
	}
	h4 {
		font-size:90px;
		line-height:108px;
	}
	#menu-item {
		font-size:90px;
		line-height:108px;
	}

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {

}