@font-face { font-family: trans; font-weight: 100; src: url('../font/VeryHighSpeedTransport.otf'); }

body { 
	font-family:trans;
}

@media screen {
	div#preloader {
		position: absolute;
		left: -9999px;
		top:  -9999px;
		}
	div#preloader img {
		display: block;
		}
	}
@media print {
	div#preloader, 
	div#preloader img {
		visibility: hidden;
		display: none;
		}
	}

.logo {
	position:fixed;
	font-size:18px;
	color:#fff;
	width:360px;
	height:180px;
	top:20px;
	left:20px;
}
#floor {
	background-image:url('../img/floor.png');
	width:40000px;
	z-index:100;
	height: 400px;
	background-repeat: repeat-x;
}

#submarine {
	background-image:url('../img/sub1a.png');
	background-repeat:no-repeat;
	display:block;
	height:990px;
	width:100%;
	position:fixed;
	top:-180px;
	margin:0 auto;
	left:0;
	right:0;
	z-index:99980;
	background-position: center;
}

#submarine.light1 {
	background-image:url('../img/sub1b.png');	
}

#submarine.light2 {
	background-image:url('../img/sub1c.png');	
}

#water {
	width:40000px;
	height:801503px;
	background-image:url('../img/water2.gif');
	background-repeat:no-repeat;
	z-index: 10000;
	background-size:100% 100%;
}

.pufferfishbutton {
	display:inline;
}
.pufferfishbutton:hover {
	background-image:url('../img/pufferfish.png');
	width:100%;
	height:100%;
	background-size:100% 100%;
	z-index:100;
	color:rgba(255,255,255,0);
	cursor:pointer;
}